*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-inter);
    line-height: 1;
}

img,
svg {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

#app {
    position: relative;
    background: url("../assets/image/bg-image-mobile.png") no-repeat top center / 100%;
}

#app::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: url("../assets/image/bg-image-mobile2.png") no-repeat top center / 100% auto;
    z-index: 50;
    pointer-events: none;
}

@media (min-width: 1194px) {
    #app {
        background-image: url("../assets/image/bg-image.png");
    }
}