*, *::before, *::after { box-sizing: border-box; }

html, body, #app { height: 100%; }

body {
    margin: 0;
    font-family: var(--font-inter);
    line-height: 1;
}

img, svg { display: block; max-width: 100%; }

a { color: inherit; text-decoration: none; }

body {
    background-image: url("../assets/image/bg-image-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media (min-width: 1194px) {
    background-image: url("../assets/image/bg-image.png");
}