:root {
    --font-inter: "Inter", sans-serif;
    --nav-bg-color: rgba(239, 241, 243, 1);
    --shadow-color: rgba(0, 0, 0, 0.25);
    --text-muted-color: rgba(104, 104, 104, 1);
    --primary: rgba(255, 119, 0, 1);
    --btn-radius: 8px;
    --timer-color: rgba(111, 106, 106, 1);
    --burger-offset: 2px;
}