.awards {
    position: absolute;
    top: 868px;
}

.award__widget {
    position: relative;
    display: flex;
    align-items: center;
    width: 428px;
    height: 120px;
    border-radius: 16px;
    padding: 12px;
    gap: 8px;
    background-color: white;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
}

.award__widget:nth-child(1) {
    top: 0;
    left: 547px;
    z-index: 60;
}

.award__widget:nth-child(2) {
    top: -10px;
    left: 335px;
    transform: rotate(2deg);
    z-index: 55;
}

.award__widget:nth-child(3) {
    top: -80px;
    left: 747px;
    transform: rotate(-2deg);
    z-index: 50;
}

.award__image {
    border-radius: 12px;
    max-width: 96px;
    max-height: 96px;
    width: 100%;
    height: 100%;
}

.award__image--gold {
    background-image: linear-gradient(rgba(211, 172, 77, 1), rgba(171, 128, 43, 1));
}

.award__image--blue {
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(213, 238, 255, 1));
}

.award__image--brown {
    background-image: linear-gradient(rgba(248, 211, 150, 1), rgba(126, 92, 47, 1));
}

.award__text {
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    line-height: 24px;
    color: rgba(45, 45, 45, 1);
}

.stat {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/image/stat.png");
    background-repeat: no-repeat;
    overflow: visible;
    top: -15%;
    left: 27.98px;
    z-index: 15;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/image/shadow.svg");
    background-repeat: no-repeat;
    overflow: hidden;
    top: 65.99px;
    left: 11.5px;
}

.pdLogo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/image/pdLogo.svg");
    background-repeat: no-repeat;
    top: -15%;
    left: 13.4px;
}

.proDocLogo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/image/proDocLogo.png");
    background-repeat: no-repeat;
    top: 77.88px;
    left: 27.39px;
}

.yandexLogo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/image/yandex.png");
    background-repeat: no-repeat;
    top: -15%;
    left: 44.36px;
    z-index: 60;
}


._2gisLogo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/image/2gis.png");
    background-repeat: no-repeat;
    top: 10%;
    left: -8.29px;
    z-index: 61;
}