*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-inter);
    line-height: 1;
}

img,
svg {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}