.btn {
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: var(--btn-radius);
    cursor: pointer;
}

.btn:active {
    background-color: rgba(228, 106, 0, 1);
}

.btn:focus {
    outline: none
}

@media (hover: hover) {
    .btn:hover {
        background-color: rgba(255, 145, 49, 1);
    }
}

