.change {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 1400px;
    width: 100%;
}

.change__title {
    text-align: center;
    font-size: 42px;
    color: rgba(255, 119, 0, 1);
}

.change__videos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
}

