.cta__test {
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    background-color: rgba(255, 119, 0, 0.15);
    justify-content: space-between;
}

.cta__test-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 653px;
    gap: 32px;
    padding: 60px 64px;
    color: rgba(104, 104, 104, 1);
}

.cta__test-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.cta__test-button {
    font-weight: 600;
    font-size: 30px;
    line-height: 5px;
    padding: 30px 64px;
    border-radius: 40px;
}

.cta__test-image {
    width: 713px;
    border: 4px solid rgba(255, 119, 0, 1);
    border-radius: 40px;
}

.cta__test-text {
    max-width: 653px;
    width: 100%;
    font-weight: 500;
    font-size: 32px;
    text-wrap: nowrap;
}

.cta__test-text--title {
    font-weight: 800;
    font-size: 32px;
    color: rgba(104, 104, 104, 1);
}

.cta__test-text--sale {
    font-weight: 900;
    font-size: 32px;
    font-style: italic;
    color: rgba(104, 104, 104, 1);
}

.cta__test-text--small {
    font-weight: 400;
    font-size: 16px;
    color: rgba(104, 104, 104, 1);
}