.hero {
    position: relative;
    min-height: 84vh;
    width: 100%;
    top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100vw;
    background-image: url("../assets/image/backgrounds/bg-image-mobile.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    top: -136px;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
}

.hero::after {
    content: "";
    position: absolute;
    width: 100vw;
    background-image: url("../assets/image/backgrounds/bg-image-mobile2.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    top: -136px;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

@media (min-width: 393px) {
    .hero::before {
        content: "";
        position: absolute;
        width: 100vw;
        background-image: url("../assets/image/backgrounds/bg-image-tablet.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        top: -62px;
        bottom: 0;
        z-index: -1;
        pointer-events: none;
    }

    .hero::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 220px;
        height: 100%;
        background-image: url("../assets/image/backgrounds/bg-image-tablet-2.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        z-index: 50;
        pointer-events: none;
    }
}

@media (min-width: 1194px) {
    #app {
        background: url("../assets/image/backgrounds/bg-image-laptop.png") no-repeat top center / 100% auto;
    }

    .hero::before {
        background-image:none;
    }

    .hero::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 238px;
        height: 100%;
        background-image: url("../assets/image/backgrounds/bg-image-laptop-2.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
        z-index: 50;
        pointer-events: none;
    }
}

@media (min-width: 1440px) {
    #app {
        background: url("../assets/image/backgrounds/bg-image-desktop.png") no-repeat top center / 100%;
    }

    #app::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 453px;
        height: 100%;
        background: url("../assets/image/backgrounds/bg-image-desktop-2.png") no-repeat top center / 100%;
        z-index: 50;
        pointer-events: none;
    }
}