.icon {
    position: absolute;
    inset: 0;
    margin: auto;
    inline-size: 24px;
    block-size: 24px;
    display: inline-block;
    background-color: white;
    transition: opacity .2s ease, transform .2s ease;
}

.icon--close {
    -webkit-mask: url('../assets/icons/close.svg') center/contain no-repeat;
    mask: url('../assets/icons/close.svg') center/contain no-repeat;
    opacity: 0;
    transform: scale(.9) rotate(-90deg);
}

.icon--arrow {
    background-color: rgba(34, 34, 34, 1);
    -webkit-mask: url('../assets/icons/arrow.svg') center/contain no-repeat;
    mask: url('../assets/icons/arrow.svg') center/contain no-repeat;
}

