.nav__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    flex: 1;
    gap: 16px;
    list-style: none;
}

.nav__item {
    font-weight: 600;
    font-size: 20px;
    color: var(--text-muted-color);
    padding: 6px 16px;
}

@media (min-width: 1194px) {
    .nav__list {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .nav__item {
        padding: 4px 12px;
        font-weight: 600;
        font-size: 15px;
    }

    .laptop_question {
        display: inline-block;
    }
}

@media (min-width: 1440px) {
    .laptop_question {
        display: none;
    }

    .nav__list {
        gap: 7px;
    }

    .nav__item {
        font-size: 16px;
        padding: 6px 16px;
    }
}