.three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three__cards {
    display: flex;
    gap: 20px;
}

.three__title {
    text-align: center;
    font-size: 42px;
    color: rgba(255, 119, 0, 1);
}

.three__card {
    display: flex;
    flex-direction: column;
    max-width: 456px;
    width: 100%;
    max-height: 483px;
    height: 100%;
    border: 1px solid rgba(255, 119, 0, 0.7);
    border-radius: 40px;
    gap: 32px;
    padding: 16px;
}

.three__card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.three__card-badge {
    text-align: center;
    width: 60px;
    border-radius: 16px;
    gap: 10px;
    background-color: rgba(251, 154, 73, 1);
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.three__card-title {
    font-weight: 600;
    font-size: 24px;
    color: rgba(34, 34, 34, 1);
}

.three__card-image {
    border: 1px solid rgba(255, 119, 0, 0.7);
    border-radius: 35px;
    object-fit: cover;
}