.video {
    position: relative;
    width: 433px;
    height: 917px;
}

.video::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/image/phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 120;
    pointer-events: none;
}

.video__preview {
    position: absolute;
    object-fit: cover;
    top: 71px;
    left: 20px;
    border-radius: 16px;
    width: 390px;
    height: 780px;
    z-index: 100;
}

.video__play {
    position: absolute;
    top: 426px;
    left: 184px;
    width: 64px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.6);

    -webkit-mask-image: url("../assets/icons/play_circle_filled.svg");
    mask-image: url("../assets/icons/play_circle_filled.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;

    z-index: 200;
    cursor: pointer;
}

.video__play:hover {
    background-color: rgba(255, 119, 0, 1);
}

.video__controls {
    position: absolute;
    top: 780px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    width: 390px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 110;
}

.video__controls-left,
.video__controls-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video__controls-left {
    gap: 13px;
}

.video__controls-right {
    gap: 20px;
}

.video__controls-play {
    width: 24px;
    height: 24px;
    background-color: white;

    -webkit-mask-image: url("../assets/icons/play_circle_filled.svg");
    mask-image: url("../assets/icons/play_circle_filled.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;

    z-index: 130;
    cursor: pointer;
}

.video__controls-play:hover {
    background-color: rgba(255, 119, 0, 1);
}

.video__time {
    font-weight: 400;
    font-size: 18px;
    color:white;
}

.video__sound {
    width: 24px;
    height: 24px;
    background-color: white;

    -webkit-mask-image: url("../assets/icons/volume_off.svg");
    mask-image: url("../assets/icons/volume_off.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;

    z-index: 130;
    cursor: pointer;
}

.video__sound:hover {
    background-color: rgba(255, 119, 0, 1);
}

.video__free {
    width: 24px;
    height: 24px;
    background-color: white;

    -webkit-mask-image: url("../assets/icons/crop_free.svg");
    mask-image: url("../assets/icons/crop_free.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;

    z-index: 130;
    cursor: pointer;
}

.video__free:hover {
    background-color: rgba(255, 119, 0, 1);
}